<section class="form-container d-flex justify-content-center align-items-center">
    <form [formGroup]="form" *ngIf="user" (submit)="save(form.value)"
        class="col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4 mx-auto d-flex flex-column py-5 px-4 px-sm-5">
        <header>
            <div class="profile">
                <img src="{{user.avatar}}" alt="logo" width="100%">
            </div>
        </header>
        <div class="form-group d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="fill: #fff; width: 10px;">
                <path
                    d="M436 160c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h320c26.5 0 48-21.5 48-48v-48h20c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20v-64h20c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20v-64h20zm-228-32c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm112 236.8c0 10.6-10 19.2-22.4 19.2H118.4C106 384 96 375.4 96 364.8v-19.2c0-31.8 30.1-57.6 67.2-57.6h5c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h5c37.1 0 67.2 25.8 67.2 57.6v19.2z" />
            </svg>
            <input class="form-control flex-fill" type="text" name="first_name" formControlName="first_name"
                placeholder="First Name">
        </div>
        <div class="error" *ngIf="form.get('first_name').hasError('required')">
            This field is required!
        </div>
        <div class="form-group d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="fill: #fff; width: 10px;">
                <path
                    d="M436 160c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h320c26.5 0 48-21.5 48-48v-48h20c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20v-64h20c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20v-64h20zm-228-32c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm112 236.8c0 10.6-10 19.2-22.4 19.2H118.4C106 384 96 375.4 96 364.8v-19.2c0-31.8 30.1-57.6 67.2-57.6h5c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h5c37.1 0 67.2 25.8 67.2 57.6v19.2z" />
            </svg>
            <input class="form-control flex-fill" type="text" name="last_name" formControlName="last_name"
                placeholder="Last Name">
        </div>
        <div class="error" *ngIf="form.get('last_name').hasError('required')">
            This field is required!
        </div>
        <div class="form-group d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="fill: #fff; width: 10px;">
                <path
                    d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z" />
            </svg>

            <input class="form-control flex-fill" type="email" name="email" formControlName="email"
                placeholder="Email Address">
        </div>
        <div class="error" *ngIf="form.get('email').hasError('pattern')">
            This field must match the pattern: email@example.com!
        </div>
        <div class="error" *ngIf="form.get('email').hasError('required')">
            This field is required!
        </div>
        <div class="form-group d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="fill: #fff; width: 10px;">
                <path
                    d="M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z" />
            </svg>
            <input class="form-control flex-fill" type="text" name="avatar" formControlName="avatar"
                placeholder="Avatar URL...">
        </div>
        <div class="error" *ngIf="form.get('avatar').hasError('required')">
            This field is required!
        </div>
        <div class="actions d-flex justify-content-between align-items-center mt-4">
            <button type="submit" class="btn save">save</button>
            <button (click)="delete()" class="btn delete">delete</button>
            <button (click)="goBack()" class="btn back">back</button>
        </div>
    </form>
</section>